//sprite image
.sprite{
    background: url('../index.png') no-repeat 0 0 ;
    background-size: 375px;
    display: inline-block;
    &.sprite-news{
        background-position: 63.546% 15.517%;
        width: 1.7692rem;
        height: 1.5385rem;
    }
    &.sprite-stories{
        background-position: 90.483% 15.614%;
        width: 1.7692rem;
        height: 1.5385rem;
    }
    &.sprite-store{
        background-position: 63.546% 15.517%;
        width: 1.7692rem;
        height: 1.5385rem;
    }
    &.sprite-trial{
        background-position: 10.408% 15.517%;
        width: 1.5385rem;
        height: 1.5385rem;
    }
    &.sprite-rookie{
        background-position: 89.733% 1.266%;
        width: 1.5385rem;
        height: 1.6154rem;
    }
    &.sprite-honor{
        background-position: 36.467% 15.287%;
        width: 1.8462rem;
        height: 1.5385rem;
    }
    &.sprite-analogy{
        background-position: 9.302% 0.813%;
        width: 2.3846rem;
        height: 1.9231rem;
    }
    &.sprite-king{
        background-position: 63.3% 0.927%;
        width: 1.8462rem;
        height: 1.8462rem;
    }
    &.sprite-official-account{
        background-position:  0 96.207%;
        width: 1.8462rem;
        height: 1.5385rem;
    }
    &.sprite-version-introduction{
        background: url('../version-icon.png') no-repeat 0 0 ;
        background-size: 25px;;
        width: 1.8462rem;
        height: 1.8462rem;
    }
    &.sprite-enviroment{
        background: url('../djhj.png') no-repeat 0 0 ;
        background-size: 34px 21px;
        width: 2.6154rem;
        height: 1.6154rem;
    }
    &.sprite-infinity-kings{
        background: url('../wxwzt.png') no-repeat 0 0;
        background-size: 2.4615rem 0.6923rem;
        width: 2.4615rem;
        height: 0.6923rem;
    }
    &.sprite-ideas{
        background: url('../cyhdy.png') no-repeat 50% 50%;
        background-size: 2.3077rem;
        width: 3.2308rem;
        height: 2.9231rem;
    }

    &.sprite-arrow{
        background-position: 38.577% 52.076%;
        background-size: 28.8462rem 35rem;
        width: 0.7692rem;
        height: 0.7692rem;
    }
}